@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Utility Classes
------------------------------------------------------------------------------------------------ */

.marginCollapseNeutralizer {
	height: 0.1px!important;
	width: 100%!important;
}

/* General
------------------------------------------------------------------------------------------------ */

#kmpAppRootBox {
	padding: 0 40px 40px;
	width: 100%;

	font-family: Inter, sans-serif;
	font-size: 1.05rem;
	line-height: 1.6rem;
	font-weight: 400;	
	padding-top: 0;

	background: transparent;

	-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;	
}

@media ( max-width: 950px ) {

	#kmpAppRootBox {
		padding: 0 8% 8%;
		width: 100%;
	}

}

[id*="kmp-errorwrap--"] {
	color: #2fafbe!important;
	font-family: Inter, sans-serif!important;
	font-weight: 700!important;
	text-align: left!important;
}

#kmp-errorwrap--restricted {
	margin-top: -15px;

	margin-top: -15px;
	background: #ff4c30!important;
	color: #eee!important;
	font-size: .92rem;
	font-weight: 500!important;
	padding: 0.1rem 1rem;
	border-radius: 5px;
	text-align: center!important;	
}

#ketogenic-meal-planner #kmp-errorwrap--restricted a,
#ketogenic-meal-planner #kmp-errorwrap--restricted a:hover,
#ketogenic-meal-planner #kmp-errorwrap--restricted a:focus {
	color: #fff!important;
	font-size: 1rem;
	font-weight: 700!important;	
}

#kmp-errorwrap--restricted a {
	text-decoration: underline!important;
}

.MuiTextField-root .Mui-error {
	margin-left: 0;
}

.MuiFormHelperText-root.Mui-error {
	display: none;
}

body > #ketogenic-meal-planner pre {
	line-height: 1em;	
}

[class*="MuiPaper-root-MuiCard-root"] {
	box-shadow: none!important;
}

.MuiPaper-root {
	border-radius: 0!important;
	overflow: visible!important;
}

.MuiOutlinedInput-root {
	position: relative;
}

.MuiTypography-root.MuiTypography-h3 {
    font-size: 28px!important;
    color: #000!important;
    font-weight: 500!important;
    font-family: Inter,sans-serif!important;
    text-transform: none!important;
    letter-spacing: 0!important;
    margin: 0 0 40px!important;
    line-height: 42px!important;    
}

.cardContent--formContent {
	padding-top: 0!important;
}

.cardContent--formContent > .MuiBox-root:not(.fieldWrapBox) {
	padding: 0!important;
	margin: 0!important;
}

.cardContent--formContent .MuiBox-root {
	padding: 0!important;
}

.cardContent--stepHeaderContent {
	padding-top: 0!important;
	padding-bottom: 0!important;
}

[class*="stepHeader__e"] {
	padding: 7px 0 6px!important;
}

.appIntro {
	max-width: 550px;
	width: 100%;

	margin: 25px 0!important;
	padding: 0!important;	
	font: normal 400 18px/27px Inter,sans-serif;
}

.kmpLogo {
	display: block!important;
	margin-left: -7px;
	max-width: 100%;
}

.kmpDecoWrap {
	position: relative;	
}

@media ( max-width: 850px ) and ( min-width: 640px ) {

	.kmpDecoWrap:after {
		content: '';
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: transparent url('./img/kmp-deco.webp') center center/contain no-repeat;
	}

}

.kmpDeco {
	display: block!important;
	margin: 0!important;
	width: 100%!important;
	height: auto!important;
}

.svgWrap {
	color: #2fafbe!important;
	letter-spacing: .03em;
	font-weight: 800;
	width: 12px!important;
	display: block;
	position: absolute;
	top: 50%;
	right: 15px;
	transform: translateY(-50%);	
}

.cardContent--formContent .sliderWrap,
.sliderWrap {
	padding: 40px 0!important;
}

@media ( min-width: 641px ) {

	.cardContent--formContent .sliderWrap,
	.sliderWrap {
		padding: 50px 40px 30px!important;
		background: #fcfcfc;
		border-radius: 10px;
		overflow: hidden;
		box-shadow: 0 3px 15px -10px rgb(0 0 0 / 50%);	
	}

}

#ketogenic-meal-planner a {
	color: #2fafbe!important;
}

#ketogenic-meal-planner a:hover,
#ketogenic-meal-planner a:focus {
	color: #0c8896!important;	
}

/* Form elements 
------------------------------------------------------------------------------------------------ */

/* Design Pattern Transfer from the Ketogevity Testing App
---------------------------------------------------------- */

.fieldWrapBox,
.buttonWrapBox,
.kmpDecoWrap {
	margin: 10px 0!important;
	position: relative!important;
}

.fieldWrapsGrouper .MuiGrid-root > .fieldWrapBox {
	margin: 10px 0 0!important;
}

#ketogenic-meal-planner ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  	color: #888!important;
}
#ketogenic-meal-planner ::-moz-placeholder { /* Firefox 19+ */
  	color: #888!important;
}
#ketogenic-meal-planner :-ms-input-placeholder { /* IE 10+ */
  	color: #888!important;
}
#ketogenic-meal-planner :-moz-placeholder { /* Firefox 18- */
  	color: #888!important;
}

[id*="kmp-errorwrap--"] {
	color: #2fafbe;
	font-family: Inter,sans-serif;
	font-weight: 400;
	font-size: 0.75rem;
	line-height: 1.66;
	letter-spacing: 0.03333em;
	text-align: left;
	margin-top: -3px;
	margin-bottom: 0;
}

.MuiTextField-root .Mui-error {
	margin-left: 0;
}

.MuiTextField-root legend span {
	display: none;
}

label.MuiInputLabel-root,
.MuiBox-root legend,
.step--meal-preferences .MuiTypography-root:first-child:not(.MuiTypography-h3) {
    font-weight: 400!important;
    line-height: 46px!important;
    font-size: 15px!important;
    width: auto!important;
    color: #000!important;
}

.MuiTextField-root .MuiInputLabel-root {
	color: #666!important;

	-webkit-transition: none!important;
	-o-transition: none!important;
	transition: none!important;

	-webkit-transform: translate(15px, 0) scale(1)!important;
	-moz-transform: translate(15px, 0) scale(1)!important;
	-ms-transform: translate(15px, 0) scale(1)!important;
	transform: translate(15px, 0) scale(1)!important;
}

/* .MuiTextField-root .MuiInputLabel-root.MuiFormLabel-filled */ 
.MuiTextField-root .MuiInputLabel-root.MuiInputLabel-shrink {
	display: inline-block!important;

	position: absolute!important;
	top: 0px;
	left: 9px;
	font-size: 9px!important;
	font-weight: 800!important;
	text-transform: uppercase!important;
	letter-spacing: .04em!important;
	padding: 3px 7px 4px;
	background: #222;
	border-radius: 3px;
	line-height: 1!important;
	color: #fff!important;
	z-index: 3;
	font-family: Inter,sans-serif!important;

-webkit-transform: translate(0, 0)!important;
	-moz-transform: translate(0, 0)!important;
	-ms-transform: translate(0, 0)!important;
	transform: translate(0, 0)!important;	
}

.MuiTextField-root .MuiInputLabel-root .MuiInputLabel-asterisk {
	display: none!important;
}

.MuiOutlinedInput-notchedOutline {
	border: #ddd solid 2px!important;
}

.Mui-error .MuiOutlinedInput-notchedOutline {
	border-color: #2fafbe!important;
}

/* <span class="as-required"><i class="fas fa-asterisk" aria-hidden="true"></i></span> */

.MuiInputBase-input {
	height: 46px!important;
	-webkit-box-sizing: border-box!important;
	-moz-box-sizing: border-box!important;
	box-sizing: border-box!important;
	padding: 0 35px 0 15px!important;
}

.MuiInputBase-input.MuiInputBase-inputMultiline {
	height: auto!important;
}

.MuiTextField-root .MuiInputLabel-root.MuiInputLabel-shrink + div .MuiInputBase-input {
	padding: 10px 35px 0 15px!important;	
}

.MuiInputBase-multiline {
	padding: 18px 35px 0 15px!important;
}

.MuiInputBase-multiline textarea,
.MuiTextField-root .MuiInputLabel-root.MuiInputLabel-shrink + div .MuiInputBase-input.MuiInputBase-inputMultiline {
	padding: 0!important;
}

.MuiFormHelperText-root.Mui-error {
	display: none;
}

.stepHeader {
	margin: 25px 0!important;
	padding: 0!important;
}

.stepHeader > *,
.stepHeader .MuiTypography-root.MuiTypography-h3 {
	margin: 0!important;
}

.backButton {
	background: #ddd!important;
	color: #000!important;
	height: 43px!important;
	line-height: 42px!important;
	padding: 0 20px!important;

	transition: all .15s ease-in-out!important;
	border: none!important;
	border-radius: 5px!important;
	letter-spacing: .03em!important;
	font-weight: 800!important;
	font-size: 13px!important;
	text-align: center!important;
	text-transform: uppercase!important;
	cursor: pointer!important;

	box-shadow: none!important;
}

.backButton:hover,
.backButton:focus {
	background: #aaa!important;	
}

.backButton .MuiButton-startIcon {
	transform: scaleX(-1);				
}

.nextButton {
	background: #2fafbe!important;

	transition: all .15s ease-in-out!important;
	border: none!important;
	width: 100%!important;
	height: 53px!important;
	padding: 0 15px!important;
	line-height: 18px!important;
	border-radius: 5px!important;
	color: #fff!important;
	letter-spacing: .03em!important;
	font-weight: 800!important;
	font-size: 13px!important;
	text-align: center!important;
	text-transform: uppercase!important;
	cursor: pointer!important;

	margin: 10px 0 20px!important;

	box-shadow: none!important;

	-webkit-transition: all .2s ease-in;
	-o-transition: all .2s ease-in;
	transition: all .2s ease-in;
}

.nextButton.button--disabled {
	background: #ddd!important;
	color: #aaa!important;
}

.nextButton:hover,
.nextButton:focus {
	background: #0c8896!important;	
}

.stepHeader__iconWrap {
	background: #000;
	width: 43px;
	height: 43px;

	border-radius: 50%;
	text-align: center;
	line-height: 43px;
	padding: 6px 5px 5px 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	margin-right: 15px;
}

.stepHeader__iconWrap svg {
	color: #fff;
}

.MuiStepper-root {
	background: #ddd!important;
	width: 100%!important;
	height: 28px!important;
	border-radius: 14px!important;
	position: relative!important;
	margin: 0 0 30px!important;
	opacity: 1!important;
	transform: translateZ(0)!important;
	transition: all .25s cubic-bezier(.315,0,.13,1)!important;
}

.MuiStepper-root:before {
	position: absolute;
	content: '';

	transition: all .35s cubic-bezier(.315,0,.13,1);
	line-height: 28px;
	height: 28px;
	border-radius: none;
	background: #2fafbe;	

	width: 50%;

	border-radius: 14px;	
}

.MuiStepper-root.steps-taken--2:before {
	width: 100%;
}

.MuiStep-root {
	padding: 0!important;
}

.MuiStepLabel-iconContainer,
.stepper [class*="MuiStepConnector-root"] {
	display: none!important;
}

.MuiStepLabel-label {
	margin-top: 0!important;
	color: #fff!important;
	letter-spacing: .03em!important;
	font-weight: 800!important;
	font-size: 11px!important;
	text-align: center!important;
	text-transform: uppercase!important;
	font-family: Inter, sans-serif!important;
	line-height: 28px!important;

	height: 28px!important;	
}

.stepper .MuiCardContent-root {
	padding: 0 15px!important;
}

.stepper svg {
	width: 36px!important;
	height: 36px!important;
}

.stepper svg circle {
	color: #ddd!important;
}

.stepper svg.Mui-active circle,
.stepper .active svg circle {
	color: #86dba8!important;
}

.stepper [class*="MuiStepConnector-root"] span {
	border-color: #eee!important;
}

fieldset.MuiFormControl-root,
fieldset.MuiFormControl-root legend {
	width: 100%!important;
}

/* ----------------------------------------------------------
EOF Design Pattern Transfer from the Ketogevity Testing App */

/* Step 2 
--------- */

.step--meal-preferences .MuiTypography-root:not(.MuiTypography-h3) {
	text-align: left!important;
}

.step--meal-preferences .MuiTypography-root:first-child:not(.MuiTypography-h3),
legend.MuiFormLabel-root {
	display: block!important;

	font: normal 800 1rem/1.5 Inter, sans-serif!important;
	margin: 0!important;

	margin: 0 0 35px!important;
	border-bottom: 2px solid #ddd!important;
	text-align: left!important;
	padding: 15px 0!important;	
}

.fieldWrapBox:not(.fieldWrapBox--radio) .MuiTypography-root:last-child:not(.MuiTypography-h3) {
	font-size: 1.05rem!important;
	line-height: 1.6rem!important;
	font-weight: 400!important;
	font-family: Roboto,sans-serif!important;
	color: #aaa!important;	
	text-transform: none!important;
	letter-spacing: 0!important;
	margin: -10px auto 0!important;	
}

.MuiSlider-root {
	margin-bottom: 0!important;
}

.MuiSlider-rail {
	background: #aaa!important;
	height: 3px!important;
	opacity: 1!important;

	-webkit-transform: none!important;
	-moz-transform: none!important;
	-ms-transform: none!important;
	transform: none!important;
	top: auto!important;
}

.MuiSlider-track {
	opacity: 0!important;
}

.MuiSlider-mark {
	-webkit-transform: none;
	-moz-transform: none;
	-ms-transform: none;
	transform: none;
	opacity: 1!important;
	width: 1px!important;
	height: 8px!important;
	background: #eee!important;
	position: absolute!important;
	bottom: auto!important;
	top: -2px!important;	
}

.MuiSlider-track + .MuiSlider-mark,
.MuiSlider-mark:nth-last-child(3) {
	height: 15px!important;
	top: -5.5px!important;
}

.MuiSlider-thumb {
	background: #2fafbe!important;
	border: none!important;
	box-shadow: none!important;
	width: 20px!important;
	height: 20px!important;
	border-radius: 50%!important;
}

.MuiSlider-thumb:before {
	content: normal!important;
}

.MuiSlider-markLabel,
.MuiSlider-valueLabel {
	font: normal 700 12px/20px Inter, sans-serif;
}

.MuiSlider-markLabel {
	top: 40px!important;
	font-size: 11px!important;
	line-height: 12px!important;
	color: #aaa!important;
}

.MuiSlider-valueLabel {
	font-family: Inter, sans-serif!important;
	font-weight: 700!important;
	font-size: 13px!important;
	line-height: 20px!important;
	background-color: #fff!important;
	box-shadow: 0 7px 15px -4px rgb(0 0 0 / 35%)!important;
	border-radius: 5px!important;
	color: #222!important;
	padding: 7px 12px!important;	
}

#kmp-label--calorie-slider {
	padding-bottom: 0!important;

	margin: 0!important;
	border-bottom: none!important;
	padding: 15px 0 0!important;		
}

#kmp-sublabel--calorie-slider {
	font-size: 13px!important;
	color: #aaa!important;

	text-align: left!important;
	border: none!important;
	margin: 0;
	padding: 0;

	-ms-word-break: break-word!important;
		word-break: break-word!important;	
}

#ketogenic-meal-planner .kmpSublabelWrap__calorieSlider {
	margin: 10px 0 35px!important;
	border-bottom: 2px solid #ddd!important;
	text-align: left!important;
	padding: 0 0 15px!important;
}

#ketogenic-meal-planner .kmpSublabelWrap__calorieSlider > :first-child {
	margin-right: 1.5rem;
	padding-right: 1.5rem!important;
	border-right: #eee solid 1px;
}

#ketogenic-meal-planner .kmpSublabelWrap__calorieSlider .cta {
	display: -webkit-inline-box;
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	position: relative;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
	outline: 0;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	vertical-align: middle;
	font-family: "Roboto","Helvetica","Arial",sans-serif;
	min-width: 64px;


	background: #2fafbe!important;
	transition: all .15s ease-in-out!important;
	border: none!important;
	width: 100%!important;
	height: 53px!important;
	padding: 0 15px!important;
	line-height: 18px!important;
	border-radius: 5px!important;
	color: #fff!important;
	letter-spacing: .03em!important;
	font-weight: 800!important;
	font-size: 13px!important;
	text-align: center!important;
	text-transform: uppercase!important;
	cursor: pointer!important;
	margin: 10px 0 20px!important;
	box-shadow: none!important;
	transition: all .2s ease-in;	
	text-decoration: none;

	width: 240px!important;	
}

#ketogenic-meal-planner .kmpSublabelWrap__calorieSlider .cta:hover,
#ketogenic-meal-planner .kmpSublabelWrap__calorieSlider .cta:focus {
	background: #0c8896!important;
}

@media ( max-width: 768px ) {

	#ketogenic-meal-planner .kmpSublabelWrap__calorieSlider,
	#ketogenic-meal-planner .kmpSublabelWrap__calorieSlider > * {
		display: block!important;
		margin-right: 0!important;
		padding-right: 0!important;
		border-right: none!important;
	}

}

/* Step 3 
--------- */

.fieldWrapBox--radio .MuiFormControl-root {
	display: block!important;
}

.fieldWrapBox--radio legend,
.fieldWrapBox--radioLabelMargin .MuiTypography-body1 {
	display: block!important;
	width: 100%!important;
	margin-bottom: 35px!important;
}

.fieldWrapBox--radio .MuiTextField-root legend {
	width: unset!important;
}

.fieldWrapBox--radio legend + .MuiFormGroup-row {
	display: block!important;
	text-align: center!important;
}

.fieldWrapBox--radio .MuiFormControlLabel-labelPlacementEnd .MuiFormControlLabel-label {
	font: normal 800 15px/1.5 Inter, sans-serif!important;
	margin-top: 7px!important;
	display: block!important;
	text-align: center!important;
}

.fieldWrapBox--radio .MuiRadio-root,
.fieldWrapBox--radio .MuiRadio-root span,
.fieldWrapBox--radio .MuiRadio-root input,
.fieldWrapBox--radio .MuiRadio-root svg,
.fieldWrapBox--radio .MuiRadio-root:after {
	width: 30px;
	height: 30px;
}

.fieldWrapBox--radio .MuiRadio-root svg {
	color: #2fafbe;
}

.fieldWrapBox--radio .MuiRadio-root {
	display: block;
	width: 30px;
	height: 30px;
	margin: 0 auto;
	border: none!important;
	background: #ddd!important;
	position: absolute;
	top: -16px;
	left: 50%;
	margin-left: -15px;	
}

.fieldWrapBox--radio .isChecked .MuiRadio-root {
	background: #2fafbe!important;
}

.fieldWrapBox--radio .MuiRadio-root:hover,
.fieldWrapBox--radio .MuiRadio-root:focus {
	
}

.fieldWrapBox--radio .MuiRadio-root:after {
	content: ''!important;
	position: absolute!important;
	display: block!important;
	top: 0!important;
	left: 0!important;
	-webkit-filter: invert(1)!important;
	-o-filter: invert(1)!important;
	filter: invert(1)!important;
	background: transparent url(img/check-solid.svg) center center/14px 14px no-repeat!important;
	opacity: 0;
}

.MuiFormControlLabel-root:hover .MuiRadio-root:after,
.MuiFormControlLabel-root .MuiRadio-root.Mui-checked:after {
	opacity: 1;
}

.fieldWrapBox--radio .MuiRadio-colorPrimary input {
	width: 30px!important;
	height: 30px!important;
	display: inline-block!important;

	opacity: 0!important;
}

.fieldWrapBox--radio .MuiRadio-colorPrimary input + span,
.fieldWrapBox--radio .MuiRadio-colorPrimary input + span + span {
	opacity: 0!important;	
}

.fieldWrapBox--radio label {
	cursor: pointer!important;
	background: #f5f5f5!important;
	border: solid 2px #d5d5d5!important;
	min-height: 72px!important;
	border-radius: 10px!important;
	position: relative!important;
	line-height: 1.3!important;
	justify-content: center!important;

	margin: 0 5px 25px!important;
	padding: 10px 15px 0!important;
	-webkit-box-sizing: border-box!important;
	-moz-box-sizing: border-box!important;
	box-sizing: border-box!important;

    display: inline-flex!important;
    -webkit-flex-direction: row!important;
    -ms-flex-direction: row!important;
    flex-direction: row!important;
    -webkit-flex-wrap: nowrap!important;
    -ms-flex-wrap: nowrap!important;
    flex-wrap: nowrap!important;
    -webkit-justify-content: center!important;
    -ms-flex-pack: center!important;
    justify-content: center!important;
    -webkit-align-content: stretch!important;
    -ms-flex-line-pack: stretch!important;
    align-content: stretch!important;
    -webkit-align-items: center!important;
    -ms-flex-align: center!important;
    align-items: center!important;	
}

.fieldWrapBox--radio label .MuiTypography-root {
    -webkit-order: 0!important;
    -ms-flex-order: 0!important;
    order: 0!important;
    -webkit-flex: 0 1 auto!important;
    -ms-flex: 0 1 auto!important;
    flex: 0 1 auto!important;
    -webkit-align-self: auto!important;
    -ms-flex-item-align: auto!important;
    align-self: auto!important;	
}

.fieldWrapBox--radio.optionsNum--2 label {
	width: calc( 50% - 10px )!important;
}

.fieldWrapBox--radio.optionsNum--3 label {
	width: calc( 33.3333% - 10px )!important;	
}

.fieldWrapBox--radio.optionsNum--4 label {
	width: calc( 25% - 10px )!important;
}

.fieldWrapBox--radio label:hover,
.fieldWrapBox--radio .isChecked {
	background: #fff!important;
}

.fieldWrapBox--radio .isChecked {
	border-color: #2fafbe!important;
}

.MuiFormLabel-asterisk {
	display: none;
}

.buttonWrapBox input[type="submit"] .MuiButton-startIcon {
	color: #fff!important;
}

.fieldWrapBox--radioLabelMargin .MuiTextField-root {
	margin-bottom: 25px!important;
}

.fieldWrapBox--sensitivitiesOther {
	margin: -20px 5px 0!important;
}

.fieldWrapBox--radio [id*="kmpf--"] {
	padding-bottom: 10px!important;
}

[id*="kmpf--"] .MuiTypography-root {
	padding-top: 45px!important;
	margin-top: 0!important;
	position: relative!important;
}

[id*="kmpf--"] .MuiTypography-root:before,
[id*="kmpf--"] .MuiTypography-root:after {
	content: '';
	display: block;
	margin: 5px auto 1px;
	width: 36px;
	height: 36px;

	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);

	-webkit-transition: opacity .25s cubic-bezier(.315,0,.13,1)!important;
	-o-transition: opacity .25s cubic-bezier(.315,0,.13,1)!important;
	transition: opacity .25s cubic-bezier(.315,0,.13,1)!important;

	opacity: 1;
}

[id*="kmpf--"].isChecked .MuiTypography-root:before { opacity: 0; }
[id*="kmpf--"] .MuiTypography-root:after 			{ opacity: 0; }
[id*="kmpf--"].isChecked .MuiTypography-root:after 	{ opacity: 1; }

#kmpf--add-dessert--snack .MuiTypography-root:before {
	background: transparent url(img/snack-blue-256.svg) center center/36px 36px no-repeat!important;
}
#kmpf--add-dessert--snack .MuiTypography-root:after {
	background: transparent url(img/snack-256.svg) center center/36px 36px no-repeat!important;
}

#kmpf--add-dessert--dessert .MuiTypography-root:before {
	background: transparent url(img/dessert-blue-256.svg) center center/36px 36px no-repeat!important;
}
#kmpf--add-dessert--dessert .MuiTypography-root:after {
	background: transparent url(img/dessert-256.svg) center center/36px 36px no-repeat!important;
}

#kmpf--add-dessert--no .MuiTypography-root:before,
#kmpf--diet-type-1--no .MuiTypography-root:before,
#kmpf--diet-type-2--no .MuiTypography-root:before,
#kmpf--sensitivities--no .MuiTypography-root:before,
#kmpf--meal-complexity--no .MuiTypography-root:before {
	background: transparent url(img/no-blue-256.svg) center center/36px 36px no-repeat!important;
}
#kmpf--add-dessert--no .MuiTypography-root:after,
#kmpf--diet-type-1--no .MuiTypography-root:after,
#kmpf--diet-type-2--no .MuiTypography-root:after,
#kmpf--sensitivities--no .MuiTypography-root:after,
#kmpf--meal-complexity--no .MuiTypography-root:after {
	background: transparent url(img/no-256.svg) center center/36px 36px no-repeat!important;
}

#kmpf--diet-type-1--vegetarian .MuiTypography-root:before {
	background: transparent url(img/vegetarian-blue-256.svg) center center/36px 36px no-repeat!important;
}
#kmpf--diet-type-1--vegetarian .MuiTypography-root:after {
	background: transparent url(img/vegetarian-256.svg) center center/36px 36px no-repeat!important;
}

#kmpf--diet-type-1--vegan .MuiTypography-root:before,
#kmpf--diet-type-2--vegan .MuiTypography-root:before {
	background: transparent url(img/vegan-blue-256.svg) center center/36px 36px no-repeat!important;
}
#kmpf--diet-type-1--vegan .MuiTypography-root:after,
#kmpf--diet-type-2--vegan .MuiTypography-root:after {
	background: transparent url(img/vegan-256.svg) center center/36px 36px no-repeat!important;
}

#kmpf--diet-type-1--carnivore .MuiTypography-root:before,
#kmpf--diet-type-2--carnivore .MuiTypography-root:before {
	background: transparent url(img/carnivore-blue-256.svg) center center/36px 36px no-repeat!important;
}
#kmpf--diet-type-1--carnivore .MuiTypography-root:after,
#kmpf--diet-type-2--carnivore .MuiTypography-root:after {
	background: transparent url(img/carnivore-256.svg) center center/36px 36px no-repeat!important;
}

#kmpf--sensitivities--dairy-free .MuiTypography-root:before {
	background: transparent url(img/dairyfree-blue-256.svg) center center/36px 36px no-repeat!important;
}
#kmpf--sensitivities--dairy-free .MuiTypography-root:after {
	background: transparent url(img/dairyfree-256.svg) center center/36px 36px no-repeat!important;
}

#kmpf--sensitivities--egg-free .MuiTypography-root:before {
	background: transparent url(img/eggfree-blue-256.svg) center center/36px 36px no-repeat!important;
}
#kmpf--sensitivities--egg-free .MuiTypography-root:after {
	background: transparent url(img/eggfree-256.svg) center center/36px 36px no-repeat!important;
}

#kmpf--sensitivities--other .MuiTypography-root:before {
	background: transparent url(img/other-blue-256.svg) center center/36px 36px no-repeat!important;
}
#kmpf--sensitivities--other .MuiTypography-root:after {
	background: transparent url(img/other-256.svg) center center/36px 36px no-repeat!important;
}

#kmpf--meal-complexity--beginner .MuiTypography-root:before {
	background: transparent url(img/beginner-blue-256.svg) center center/36px 36px no-repeat!important;
}
#kmpf--meal-complexity--beginner .MuiTypography-root:after {
	background: transparent url(img/beginner-256.svg) center center/36px 36px no-repeat!important;
}

#kmpf--meal-complexity--advanced .MuiTypography-root:before {
	background: transparent url(img/advanced-blue-256.svg) center center/36px 36px no-repeat!important;
}
#kmpf--meal-complexity--advanced .MuiTypography-root:after {
	background: transparent url(img/advanced-256.svg) center center/36px 36px no-repeat!important;
}

label[for="kmpFieldAgreement"] {
	font: normal 400 17.6px/22px Inter, sans-serif; 
}

label[for="kmpFieldAgreement"] a {
	color: #e6b081;
}

label[for="kmpFieldAgreement"] a:hover,
label[for="kmpFieldAgreement"] a:focus {
	color: #000;
}

[class*="MuiButtonBase-root-MuiCheckbox-root"]:hover {
	background-color: unset!important;
}

.MuiCheckbox-root.MuiCheckbox-root {
	padding: 0 9px 0 0;
}

.MuiCheckbox-root.MuiCheckbox-root > span {
	display: none!important;
}

.cardContent--formContent .fieldWrapBox--agreementBox {
	margin: 15px 0 0!important;
	border-top: 2px solid #ddd!important;
	padding: 20px 0 10px!important;	
}

@media ( max-width: 850px ) {

	.MuiCardContent-root {
		padding-left: 0!important;
		padding-right: 0!important;
	}

	.stepHeader__iconWrap {
		width: 30px!important;
		height: 30px!important;
		line-height: 30px!important;	
		padding-top: 4px!important;	
	}

	.stepHeader__iconWrap svg {
		width: 20px!important;
	}	

	.MuiTypography-root.MuiTypography-h3 {
		font-size: 24px!important;
		line-height: 30px!important;		
	}

	.backButton	{
		padding: 0 10px!important;
		height: 36px!important;
		height: 36px!important;
	}

}

@media ( max-width: 640px ) {

	.kmpLogo {
		margin: auto!important;
		transform: translateX(10px);
	}

	.appIntro {
		text-align: center;
	}

	.stepHeader {
	    -webkit-flex-wrap: wrap!important;
	    -ms-flex-wrap: wrap!important;
	    flex-wrap: wrap!important;

	    -webkit-justify-content: center!important;
	    -ms-flex-pack: center!important;
	    justify-content: center!important;

	    margin-bottom: 30px!important;	    
	}

	[class*="stepHeader__e"] {
	    -webkit-flex: 0 1 100%!important;
	    -ms-flex: 0 1 100%!important;
	    flex: 0 1 100%!important;

		-ms-flex-pack: center!important;
		-webkit-justify-content: center!important;
		justify-content: center!important;	    
	}

	.stepHeader__e1 {
		margin-bottom: 10px!important;
	}

	.MuiTypography-root.MuiTypography-h3 {
		font-size: 17px!important;
		line-height: 30px!important;		
		font-weight: 600!important;
	}	

	.fieldWrapBox--radio label {
	    -webkit-flex-wrap: wrap!important;
	    -ms-flex-wrap: wrap!important;
	    flex-wrap: wrap!important;
	    -webkit-justify-content: center!important;
	    -ms-flex-pack: center!important;
	    justify-content: center!important;
	    -webkit-align-content: stretch!important;
	    -ms-flex-line-pack: stretch!important;
	    align-content: stretch!important;
	    -webkit-align-items: center!important;
	    -ms-flex-align: center!important;
	    align-items: center!important;	

		vertical-align: top!important;	

		width: 100%;    

		margin-left: 0!important;
		margin-right: 0!important;		
	}

	.fieldWrapBox--radio label .MuiTypography-root {
	    -webkit-flex: 0 1 100%!important;
	    -ms-flex: 0 1 100%!important;
	    flex: 0 1 100%!important;
	}

	.fieldWrapBox--radio.optionsNum--2 label,
	.fieldWrapBox--radio.optionsNum--3 label,
	.fieldWrapBox--radio.optionsNum--4 label {
		width: 100%!important;
	}

	.fieldWrapBox--sensitivitiesOther {
		margin: -20px 0 0!important;
	}

}